
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "calibri light";
}

.contenedor{
    background: tomato;
    width: 80%;
    margin: auto;
}

header{
    height: 400px;
    background-image: url("../img/portada.jpg");
    background-position: center;
    background-size: cover;

}


main .perfil{
    background: white;
    padding: 50px 50px;
}


main .foto{
    width: 250px;
    height: 300px;
    background-color: teal;
    border-radius: 50%;
    margin: 90px 0 20px 0;
    border: 6px solid  #ffffff;

}


main .foto img{
    width: 100px;
    border-radius: 50%;

}



footer{
    background: teal;
    text-align: center;
    padding: 25px;
    color: #ffffff

}



